<link href="/style.css" rel="stylesheet" />
<div id="allAdd">
<form action="/userGame" method="post" id="containerAdd">
  <h1 class="add">PLEASE INPUT DATA</h1>
    <label for="" class="userNameAdd">Username</label><br>
    <input type="text" id="username" name="username" /><br><br>
    <label for="">Password</label><br>
    <input type="text" name="password" id="password" /><br><br>
    <button type="submit">Submit</button>
  </form>
</div>